<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header class="header">
        <div class="menu">
            <div class="wrapper">
                <nav class="nav">
                    <h1 class="header-logo">
                        <a href="/places">Places App</a>
                    </h1>
                    <div class="user-hello">
                        <div class="username">
                            Hello, <%= user.username %>
                        </div>
                        <form action="/auth/logout" method="post">
                            <button type="submit" class="logout-btn">Logout</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    

    <div class="main">
        <div class="wrapper">
            <div class="index-container">
                <div class="places-form-container">
                    <div class="open-form">
                        <img src="/images/open-form.png" alt="">
                    </div>
                    <form class="form place-form" method="post">
                        <h2 class="form-title">Create place</h2>
                        <div class="form-control">
                            <label for="place-name-input">Name</label><br>
                            <input type="text" name="name"  id="place-name-input" >
                            <div class="form-field-error place-name-error">
            
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="place-locations-input">Location</label><br>
                            <input type="text" name="location" id="place-locations-input" >
                            <div class="form-field-error place-locations-error">
                                
                            </div>
                        </div>
            
                        <div class="form-control">
                            <label for="place-rating-input">Rating</label><br>
                            <div class="form-star">
                                <div class="star">
                                          <label class="rating-label" id="rating-label">
                                              ★
                                              <input type="radio" name="note" value="1" id="aze">
                                            </label>
                                         
                                          <label class="rating-label" id="rating-label">
                                              ★
                                              <input type="radio" name="note" value="2">
                                            </label>
                                          <label class="rating-label" id="rating-label">
                                              ★
                                              <input type="radio" name="note" value="3">
                                            </label>
                                          <label class="rating-label" id="rating-label">
                                              ★
                                              <input type="radio" name="note" value="4">
                                            </label>
                                          <label class="rating-label" id="rating-label">
                                              ★
                                              <input type="radio" name="note" value="5">
                                            </label>
                                        </div>
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="place-picture-input" class="picture-label">Load image</label>
                            <span id="file-selected"></span>
                            <input type="file" name="picture" id="place-picture-input" class="place-picture-input" accept="image/*" >
                            <div class="form-field-error place-picture-error">
                                
                            </div>
                        </div>
            
                        <div class="form-control">
                            <label for="place-description-input">description</label><br>
                            <textarea name="description" id="place-description-input" class="place-description-input" ></textarea>
                            <div class="form-field-error place-description-error">
                                
                            </div>
                        </div>
            
                        <div class="" id="box-msg">
            
                        </div>
            
                        <button class="form-btn" type="submit">Create</button>
                    </form>
                </div>
                <div class="places-list">

                    <% if (places.length === 0 ) { %>
                        <div class="places-empty">
                            List of places is empty
                        </div>
                    <% } else { %>
                        <% places.forEach( place => { %>
                            <div class="place-item">
                                <div class="place-header">
                                    <div class="place-info">
                                        <div class="place-name">
                                            Name: 
                                            <a href="/places/<%= place._id %>/edit-page" class="edit-link">
                                                <%= place.name %>
                                            </a> 
                                        </div>
                                        <div class="place-location">
                                            Location: <span><%= place.location %></span>
                                        </div>
                                        <div class="rating">
                                            Rating: 
                                            <div>
                                                <% for(let i = 1; i <= 5; i++) { %>
                                                    <% if (i <= place.rating) { %>
                                                        <label class="rating-label active-star">
                                                            ★
                                                            <input type="radio" name="note">
                                                          </label>       
                                                    <%} else { %>
                                                        <label class="rating-label">
                                                            ★
                                                            <input type="radio" name="note">
                                                          </label>
                                                    <%} %>
                                                <%} %>
                                            </div>   
                                        </div>
                                    </div>
        
                                    <div class="place-picture">
                                        <img src="/images/places/<%= place.picture %>" alt="">
                                    </div>
                                </div>
                                 <div class="place-footer">
                                    <p>
                                        <%= place.description %>
        
                                    </p>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>

                   
                    
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    
    <script src="/js/utils.js"></script>
    <script src="/js/index.js"></script>


    
</body>
</html>